<h1>To do list {{#if person}}- {{person}}{{/if}} </h1>
{{#if person}}
<div>
<input type="text" onkeydown={{action 'addNewTask'}} value={{addTaskInput}} placeholder="What needs to be done?" name="newTask"> 
</div>
{{/if}}

<form>
    {{input type='text' name="searchText" placeholder='Filter tasks' valueBinding='searchContent' key-up=(action 'updateList')}}
    {{#unless person}}
    <select name="person" onchange={{action 'selectPerson' value="target.value" }}>
        <option value="">Who: Everyone</option>
        <option value="Sandy">Who: Sandy</option>
        <option value="Paul">Who: Paul</option>
        <option value="Julie">Who: Julie</option>
    </select>
    {{/unless}}
    <select name="state" onchange={{action 'selectState' value="target.value" }}>
        <option value="">Type: All tasks</option>
        <option value=true>Type: Completed tasks</option>
        <option value=false>Type: New tasks</option>
    </select>

</form>
{{#if filteredTasks}}
<table class="table table-striped table-bordered table-hover no-footer">

    <thead>
        <tr>
            {{#unless person}}
            <th class="sorting">Who</th>
            {{/unless}}
            <th>Content</th>
            <th>State</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        {{#each filteredTasks as |task|}}
        <tr>
            {{#unless person}}
            <td>{{task.person}}</td>
            {{/unless}}
            <td>{{task.content}}</td>
            <td>
                {{#if task.completed}} Completed {{else}} New {{/if}}
            </td>
            <td class="table-view-pf-select">
                <input type="checkbox" checked={{task.completed}} onchange={{action 'setCompleteTask' task}}>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
All: {{allTasks}} Complete:{{completeTasks}} New: {{newTasks}} {{yield}} 
{{else}}
<h4>No tasks</h4>
{{/if}} 