<div class="mt-4 ">
<table class="table table-striped table-bordered table-hover no-footer">
    <thead>
        <tr>
            <th class="sorting">Who</th>
            <th>Content</th>
            <th>State</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |task|}}
        <tr>
            <td>{{task.person}}</td>
            <td>{{task.content}}</td>
            <td>
                {{#if task.complete}}
                Complete
                {{else}}
                New
                {{/if}}
            </td>
            <td class="table-view-pf-select">
                <input type="checkbox" name="" id="" checked={{task.complete}}>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
All: {{model.length}} Complete: New: 
</div>